@charset "UTF-8";

body {
    background-color: #6ce6a95e;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:#3D664A;
}

#principal{
    text-align: center;
    background-color: rgb(66, 124, 64);
    color: white;
}
.secundario{

}
.basico{
    color:#3b8f55;
    font-weight: bold;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}

h2 {
    color:  #162c1dad;  
}